.card-bt {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: whitesmoke;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.5rem;
    margin: 0 8px 16px;
  
    > hr {
      margin-right: 0;
      margin-left: 0;
    }
  
    > .list-group:first-child {
      .list-group-item:first-child {
        border-top-radius: 0.25rem;
      }
    }
  
    > .list-group:last-child {
      .list-group-item:last-child {
        border-bottom-radius: 0.25rem;
      }
    }
  }
  
  .card-body-bt {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-title-bt {
    margin-bottom: 0.75rem;
  }

  .card-text-bt:last-child {
    margin-bottom: 0;
  }

  .card-header-bt {
    padding: .75rem 1.25rem;
    margin-bottom: 0; // Removes the default margin-bottom of <hN>
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  
    &:first-child {
      border-radius : calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    }
  
    + .list-group {
      .list-group-item:first-child {
        border-top: 0;
      }
    }
  }
  
  .card-footer-bt {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
  
    &:last-child {
      border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    }
  }

  .card-container .card-bt:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card-container .card-bt:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
