<div class="card-container-end">
  <button type="button" class="btn btn-primary mb-3" style="float: right; margin-right: 1rem"
  (click)="createChallenge()" [hidden]="loggedInUserData && loggedInUserData.role.toLocaleLowerCase() === 'applicant'">
  Create Challenge
</button>
</div>

<div class="card-container" *ngIf="challengeList.length === 0">
    <h5>No Challenge Available. Please check later.</h5>
</div>
<div class="card-container">
  
  <!-- <div *ngIf="challengeList.length > 0" class="display-card">
    <div class="card-bt text-center mw" *ngFor="let challenge of challengeList">
      <div class="card-header-bt">
        {{challenge.title}}
      </div>
      <div class="card-body-bt">
        <p class="card-title-bt">{{challenge.feature}}</p>
        <p class="card-text-bt">{{challenge.description}}.</p>
        <button type="button" class="btn btn-outline-primary" (click)="upvote(challenge)">Upvote</button>
      </div>
      <div class="card-footer-bt text-muted">
        {{challenge.vote}}
      </div>
    </div>
  </div> -->

  <div *ngIf="challengeList.length > 0">
    <div class="card-bt text-center">
      <p-table [columns]="cols" [value]="challengeList" styleClass="p-datatable-customers" *ngIf="challengeList.length > 0">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                  <button type="button" class="btn btn-outline-primary" (click)="upvote(rowData)">Upvote</button>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  
</div>





